body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F9F9F9;
}
.logoHeader{
    width: 200px;
    height: 100px;
}

header nav{
    border-bottom: 3px solid #0FA3B1;
    background-color: #ffffff;
}

nav ul li a{
    color: #0FA3B1;
}

nav ul li a:hover, nav ul li a.active{
    color: #0FA3B1;
    border-bottom: 2px solid #FF971A;
}

h6{
    margin-top: 20px;
    color: #F2F2F2;
}

.linkButtons{
    background-color: #FF971A;
    color: #fff;
}


.linkButtons:hover{
    background-color: #0FA3B1;
    color: #fff;
}

a{
    color:#0FA3B1;
    line-height: 40px;
}

a:hover{
    color:#FF971A;
    text-decoration: none;
}

.navbar-toggler{
    background-color: #FF971A;
}

h1{
    color: #FF971A;
}

h2{
    font-size: 20px;
}

.containerBorderBottom{
    border-bottom: 1px solid #B3B3B3;
}

.colorBlue{
    color:#0FA3B1;
}

.colorGrey{
    color:#878787;
}

.imgBlockChain{
    width: 60%;
}

.imgTransaction{
    width: 25%;
}

ul.meiTopics li{
    margin-bottom: 18px;
}

.biggerLink{
    color:#0FA3B1;
    font-size: 20px;
}

.biggerLink:hover{
    color:#FF971A;
    font-size: 20px;
}

.page-link{
    color: #0FA3B1;
}

.navbar{
    padding: .5rem 4rem;
}

tbody tr:hover{
    background-color: #ccc;
    cursor: pointer;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 470px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 400px;
  background-color: #064146;
  padding: 45px 60px 0;
  font-family: 'Ubuntu', sans-serif;
  color: #F9F9F9;
}
body  .container {
  padding: 85px 15px 0;
}
